<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <p>Payment status: {{ message }}</p>
    <p>Amount: {{ amount }} VND</p>
    <p>Order ID: {{ orderId }}</p>
    <p>Partner Code: {{ partnerCode }}</p>
    <p>Transaction ID: {{ transId }}</p>
    <p>Response Time: {{ responseTime }}</p>
</body>
</html>